<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>paint.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55CB589F1BDEB7230032C78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55CB58B81BDEB7230032C78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55CB58C31BDEB7230032C78B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
